media/
secrets/ssh/
hosts/Windows/Win3.11/win31.img
hosts/DOS/ms-dos-6-22/Dos6.22.img
hosts/Netware/Netware3.12/*
hosts/DOS/DoomIPX/DoomIPX.img
hosts/DOS/DoomIPX2/DoomIPX.img
hosts/DOS/stig/MSDOS SERVER_1.vhd
hosts/DOS/stig/stig.img
hosts/DOS/ms-dos-6-22-tcpip/ms-dos-6-22-tcpip.img
RetroNetSecImages.zip
hosts/Windows/Win95/win95plus.img
.DS_Store
hosts/Unix/v7x86/v7x86.img
__pycache__/
.vscode/launch.json
